header{
    position: absolute;
    height: 70px;
    left: 40px;
    right: 40px;
    top: 0px;
}
.welcome{
    position: absolute;
    left: 30.92%;
    right: 30.92%;
    top: 6.65%;
    bottom: 47.46%;
}
.logo{
    position: absolute;
    left: 5.83%;
    right: 82.58%;
    top: 0%;
    bottom: 0%;
}
.search{
    position: absolute;
    width: 18.05px;
    height: 18.1px;
    left: calc(50% - 18.05px/2 + 0px);
    top: calc(50% - 18.1px/2 - 0.5px);
}
.index-backgtound{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 36.77%;

    background: url(index-background.jpg);
}
.mask{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.basic-white{
    background: #FFFFFF;
}
.favorite{
    position: absolute;
    width: 18.05px;
    height: 17px;
    left: calc(50% - 18.05px/2 - 0.46px);
    top: calc(50% - 17px/2 - 0.5px);
}
.icons-basic{
    background: #000000;
}
.icons-second{
    background: #83B3D3;
}
html{
    position: relative;
    width: 1280px;
    height: 3315px;

    background: #F2F2F2;
    font-family: 'PT Sans';
    font-style: normal;
}
.vec-1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.vec-2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
}
.vec-3{
    position: absolute;
    width: 22px;
    height: 17px;
    left: calc(50% - 22px/2);
    top: calc(50% - 17px/2);
}
.bestcourses{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.button{
    position: absolute;
    left: 66.67%;
    right: 16.67%;
    top: 62.53%;
    bottom: 22.87%;
}
footer{
    position: absolute;
    height: 120px;
    left: 40px;
    right: 40px;
    bottom: 0px;
}
.mail-field{
    position: absolute;
    left: 16.67%;
    right: 33.33%;
    top: 62.53%;
    bottom: 22.87%;
}
.background-field{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: url(sreenivas-NayExohOnjU-unsplash.jpg);
}
.want-here-button{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #756157;
    border-radius: 4px;
}

