@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  src: url(fonts/ptsans-700) format("woff2");
  font-display: swap;
}
body{
  font-family: 'PT Sans';
}


.index-background{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 36.77%;
  background: url(../images/another-images-folder/index-background.png);
  height: 485px;
  width: 1200px;
}
.field-background{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: url(../images/another-images-folder/background.png);
  height: 411px;
  width: 1200px;
}
