@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  max-width: 1200px;


  background: #F2F2F2;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
  background-image: url(../images/another-images-folder/index-background.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

html {
  height: 100%;
}

.welcome {
  display: block;
  padding: 371px;
  padding-top: 51px;
  padding-bottom: 82px;
  justify-content: center;
}

.logo {
  display: flex;
  width: 139px;
  height: 70px;
  padding-left: 70px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 17px;
  gap: 34px;
}

.search {
  display: flex;
  width: 18px;
  height: 18px;
  margin-right: 23.49px;
}

.fav {
  display: flex;
  padding-right: 47px;
  width: 18px;
  height: 17px;
}

.nav {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.nav-list {
  max-width: 390px;
  margin-left: 239px;
  padding-top: 0;
}

.user-menu {
  display: flex;
  margin-left: 866.13px;
  margin-right: 70px;
  width: 263.87px;
  height: 66px;
}

.field-index {
  background-image: url(../images/another-images-folder/background.png);
  background-position: center;
  height: 411px;
  width: 1200px;
  text-align: center;
  color: #ffffff;
}

.logo {
  display: block;
  position: absolute;
  left: 5.83%;
  right: 82.58%;
  top: 0%;
  bottom: 0%;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.advantages-item {
  background-color: #82B3D3;
  width: 400px;
  height: 200px;
  color: rgb(255, 255, 255);
  display: flex;
  padding: 92px 85px;
  justify-content: center;
}

.advantages-item-second {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 200px;
  text-align: center;
  display: flex;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 80px;
  padding-bottom: 81px;
  justify-content: center;

}

.advantages-item-third {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 200px;
  text-align: center;
  display: flex;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 80px;
  padding-bottom: 81px;
  justify-content: center;


}

.advantages-item-forth {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 200px;
  text-align: center;
  display: flex;
  padding: 92px 85px;
  justify-content: center;

}


.index-columns {
  display: flex;
  justify-content: space-between;
  color: #242424;
  background-color: #fbf7f4;
}

.about-sedona {
  display: flex;
  padding-left: 290px;
  padding-right: 290px;
  padding-top: 166px;
  justify-content: center;
}

.five-rule {
  display: flex;
  padding-left: 273px;
  padding-right: 273px;
  padding-bottom: 90px;
  justify-content: center;
}

.photo-1 {
  display: flex;
  width: 800px;
  height: 384px;

}

.photo-2 {
  display: flex;
  width: 800px;
  height: 384px;
}

header {
  display: flex;
  background-color: #ffffff;
  padding-top: 20px;
  position: absolute;
  height: 70px;
  left: 40px;
  right: 40px;
  top: 0;
}
footer{
  background-color: #ffffff;
}
li{
  list-style-type: none;
}
.visually-hidden{
  display: none;
  visibility: hidden;
}
.filter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 70px 70px;
  gap: 10px;
}
.nav-link {
  position: relative;
  display: block;
  padding: 24px 19px;
  font-family: "PT Sans", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.button-basic{
  background: #756157;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border-color: #756157;
}
.button-basic:hover{
  background: #615048;
  border-radius: 4px;
}
.button-basic:focus{
  background: #615048;
  border-radius: 4px;
}
.button-basic:active{
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
a{
  text-decoration: none;
}
.button-second{
  color: rgb(255, 255, 255);
  background: #82B3D3;
  border-radius: 4px;
  border-color: #68A2CA;
}
.button-second:hover{
  background: #68A2CA;;
  border-radius: 4px;
}
.button-second:focus{
  background: #68A2CA;;
  border-radius: 4px;
}
.button-second:hover{
  background: #68A2CA;;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}
.social{
  background: #83B3D3;
  width: 22px;
  height: 17px;
}
.social:hover{
  background: #68A2CA;
  width: 22px;
  height: 17px;
}
.social:focus{
  background: #68A2CA;
  width: 22px;
  height: 17px;
}
.social:active{
  background: rgba(104, 162, 202, 0.3);
  width: 22px;
  height: 17px;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}
.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}
.modal-auth {
  width: 360px;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/svg-folder/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.find-form .field-group {
  margin: 0;
  margin-bottom: 16px;
}
.date-1{
  width: 420px;
  height: 50px;
}
.date-2{
  width: 420px;
  height: 50px;
}
.grown{
  width: 133px;
  height: 50px;
}
.kids{
  width: 133px;
  height: 50px;
}
.button-second-special{
  color: rgb(255, 255, 255);
  background: #82B3D3;
  border-radius: 10px;
  width: 575px;
  height: 60px;
  border-color: #68A2CA;
}
.button-second-special:hover{
  background: #68A2CA;;
  border-radius: 10px;
}
.button-second-special:focus{
  background: #68A2CA;;
  border-radius: 10px;
}
.button-second-special:active{
  background: #68A2CA;;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.3);
}
.modal-label{
  font-weight: 700;
}
.field{
  border-radius: 4px;
  background: #F2F2F2;
  border-color: #F2F2F2;
}
.basic-white{
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
