@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333;
  text-transform: uppercase;
  background-color: #ffffff;
  -webkit-font-kerning: none;
  font-kerning: none;
  display: grid;
  grid-template-rows: 1fr auto;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
  background-image: url(../images/another-images-folder/index-background.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

html {
  display: flex;
  height: 100%;
  background: #F2F2F2;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: relative;
  height: 70px;
  left: 40px;
  right: 40px;
  top: 0;
  margin: 0;
  padding: 0;
}


.logo {
  display: flex;
  width: 139px;
  height: 70px;
  padding-left: 70px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 17px;
  gap: 34px;
}

.search {
  display: flex;
  position: absolute;
  width: 18px;
  height: 18px;
  margin-right: 24px;
  left: calc(50% - 18.05px/2 - 0.46px);
  top: calc(50% - 17px/2 - 0.5px);

}

.fav {
  display: flex;
  width: 18px;
  height: 17px;
  position: relative;
  left: calc(50% - 18.05px/2 - 0.46px);
  top: calc(50% - 17px/2 - 0.5px);
}

.nav {
  display: flex;
  margin: 0 auto;
}

.nav-list {
  max-width: 390px;
  margin-left: 239px;
  padding-top: 0;
}

.user-menu {
  display: inline-flex;
  margin-left: 300px;
  width: 263.87px;
  height: 66px;
  position: relative;
  left: 72.18%;
  right: 5.83%;
  top: 0;
  bottom: 5.71%;

}

.field-index {
  background-image: url(../images/another-images-folder/background.png);
  background-position: center;
  height: 411px;
  width: 1200px;
  text-align: center;
  color: #ffffff;
}

.logo {
  display: block;
  position: absolute;
  left: 5.83%;
  right: 82.58%;
  top: 0%;
  bottom: 0%;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.advantages-item {
  background-color: #82B3D3;
  width: 400px;
  height: 384px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.advantages-item-second {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 200px;
  text-align: center;
  display: flex;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 80px;
  padding-bottom: 81px;
  justify-content: center;
  font-weight: 700;
}

.advantages-item-third {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 200px;
  text-align: center;
  display: flex;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 80px;
  padding-bottom: 81px;
  justify-content: center;
  font-weight: 700;
}

.advantages-item-forth {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 200px;
  text-align: center;
  display: flex;
  padding: 90px 85px;
  justify-content: center;
  font-weight: 700;
}


.index-columns {
  display: flex;
  justify-content: space-between;
  color: #242424;
  background-color: #fbf7f4;
}

.about-sedona {
  display: flex;
  padding-left: 290px;
  padding-right: 290px;
  padding-top: 166px;
  justify-content: center;
}

.five-rule {
  display: flex;
  padding-left: 273px;
  padding-right: 273px;
  padding-bottom: 90px;
  justify-content: center;
}

.photo-1 {
  width: 800px;
  height: 384px;
  display: flex;
  position: relative;
  bottom: 384px;
  left: 399px;
}

.photo-2 {
  display: flex;
  width: 800px;
  height: 384px;
}

header {
  background-color: #ffffff;
}

footer {
  background-color: #ffffff;
}

li {
  list-style-type: none;
}

.visually-hidden {
  display: none;
  visibility: hidden;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 70px 70px;
  gap: 10px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 19px;
  font-family: "PT Sans", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-basic {
  background: #756157;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border-color: #756157;
}

.button-basic:hover {
  background: #615048;
  border-radius: 4px;
}

.button-basic:focus {
  background: #615048;
  border-radius: 4px;
}

.button-basic:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #000000;
}

.button-second {
  color: rgb(255, 255, 255);
  background: #82B3D3;
  border-radius: 4px;
  border-color: #82B3D3;
}

.button-second:hover {
  background: #68A2CA;
  ;
  border-radius: 4px;
}

.button-second:focus {
  background: #68A2CA;
  ;
  border-radius: 4px;
}

.button-second:active {
  background: #68A2CA;
  ;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.social {
  color: #83B3D3;
  width: 22px;
  height: 17px;
}

.social:hover {
  color: #68A2CA;
  width: 22px;
  height: 17px;
}

.social:focus {
  color: #68A2CA;
  width: 22px;
  height: 17px;
}

.social:active {
  color: rgba(104, 162, 202, 0.3);
  width: 22px;
  height: 17px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-auth {
  width: 360px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/svg-folder/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.find-form .field-group {
  margin: 0;
  margin-bottom: 16px;
}

.date-1 {
  width: 420px;
  height: 50px;
}

.date-2 {
  width: 420px;
  height: 50px;
}

.grown {
  width: 133px;
  height: 50px;
}

.kids {
  width: 133px;
  height: 50px;
}

.button-second-special {
  color: rgb(255, 255, 255);
  background: #82B3D3;
  border-radius: 10px;
  width: 575px;
  height: 60px;
  border-color: #68A2CA;
}

.button-second-special:hover {
  background: #68A2CA;
  ;
  border-radius: 10px;
}

.button-second-special:focus {
  background: #68A2CA;
  ;
  border-radius: 10px;
}

.button-second-special:active {
  background: #68A2CA;
  ;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.3);
}

.modal-label {
  font-weight: 700;
}

.field {
  border-radius: 4px;
  background: #F2F2F2;
  border-color: #F2F2F2;
}

.basic-white {
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.auto-layout {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  justify-content: space-between;
  color: #242424;


  background: #FFFFFF;
}

.zagllushka {
  background: #F2F2F2;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}

.social-media {
  fill: #83B3D3;
}

.social-media:hover {
  fill: #68A2CA;
}

.social-media:focus {
  fill: #68A2CA;
}

.social-media:active {
  fill: rgba(104, 162, 202, 0.3);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.number {
  display: flex;
  padding-left: 249px;
  padding-right: 236px;
  color: #000000;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;

  text-align: center;
  text-transform: uppercase;

}

.number:hover {
  color: #756157;
}

.number:focus {
  color: #756157;
}

.number:active {
  color: rgba(117, 97, 87, 0.3);
}

.academy {
  fill: #000000;
  position: relative;
  left: 0%;
  right: 0.09%;
  top: 2.94%;
  bottom: 0.29%;
}

.academy:hover {
  fill: #756157;
}

.academy:focus {
  fill: #756157;
}

.academy:focus {
  fill: rgba(117, 97, 87, 0.3);
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #AF7842;
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-transform: none;
  padding: 5px 8px;
  border-radius: 8px;
  display: block;
  width: 160px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  visibility: hidden;

}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.tooltip-text:after {
  content: '';
  background-image: url("images/tooltip-arrow.svg");
  width: 14px;
  height: 6px;
  position: absolute;
  transform: rotate(180deg);
  top: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.subscribe {
  position: relative;
  left: 37.67%;
  right: 37.58%;
  top: 21.82%;
  bottom: 69.54%;
}

@-webkit-keyframes bounce {
  0% {
    top: 50%;
    opacity: .5
  }
}

@keyframes bounce {
  0% {
    top: 50%;
    opacity: .5
  }
}

.common-link[href]:hover {
  color: #81b3d2
}

.common-link[href]:active,
.sort-link {
  color: rgba(0, 0, 0, .3)
}

img {
  display: block
}

.sort-link {
  border-bottom: 1px dotted #81b3d2
}

.sort-link:not(.link-current):hover {
  color: #81b3d2
}

.sort-link:not(.link-current):active {
  color: #000;
  border-bottom: none
}

.link-current {
  color: #81b3d2;
  border-bottom: none
}

.main-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000
}

.navigation-list {
  list-style: none
}

.navigation-list a {
  color: #000
}

a.current {
  color: #766357
}

.welcome {
  text-align: center;
  background-color: #5785ad;
  background-image: url(../images/another-images-folder/index-background.png);
  background-repeat: no-repeat;
  background-position: 0 -83px
}

.welcome-title {
  font-size: 21px;
  color: #000
}

.welcome-description,
.welcome-title {
  line-height: 26px
}

.welcome-img {
  margin: 0 auto
}

.card {
  text-align: center
}

.card-title,
.features-title {
  font-size: 21px;
  line-height: 21px;
  color: #000
}

.card-blue {
  padding: 46px 58px 58px 60px;
  color: #fff;
  background-color: #81b3d2
}

.card-grey {
  background-color: #eee
}

.card-blue .card-title {
  color: #fff
}

.features-list {
  list-style: none;
  text-align: center
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000
}

.appointment-description {
  line-height: 24px;
  text-align: center
}

.btn {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: 0
}

.btn:hover {
  background-color: #669ec0
}

.btn:active {
  color: rgba(255, 255, 255, .3);
  background-color: #5496bd
}

.btn-appointment,
.btn-search {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px
}

.btn-appointment,
.btn-brown {
  background-color: #766357
}

.btn-appointment:hover,
.btn-brown:hover {
  background-color: #604e43
}

.btn-appointment:active,
.btn-brown:active {
  background-color: #503e33
}

.form-row input {
  font: inherit;
  background-color: #f2f2f2;
  border: 0
}

.form-row input:hover {
  background-color: #ebebeb
}

.form-row input:focus {
  background-color: #fff;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
  box-shadow: inset 0 0 0 2px #e5e5e5
}

.modal-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000
}

::-webkit-input-placeholder {
  color: #000;
  opacity: 1
}

:-ms-input-placeholder,
::-ms-input-placeholder {
  color: #000;
  opacity: 1
}

::placeholder {
  color: #000;
  opacity: 1
}

.main-footer b {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000
}

.footer-copyright span {
  margin-right: 8px;
  color: #000
}

.social-btn:active path {
  fill: rgba(255, 255, 255, .3)
}

.filters {
  color: #fff;
  background-color: #5785ad;
  background-image: url(../images/another-images-folder/catalog-background\ 1.png);
  background-position: 0 -55px;
  background-size: 1200px 400px;
}

.filter-item legend {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px
}

.filter-item input {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: transparent;
  border: 0
}

.filter-item ::-webkit-input-placeholder {
  color: #fff;
  opacity: 1
}

.filter-item :-ms-input-placeholder,
.filter-item ::-ms-input-placeholder {
  color: #fff;
  opacity: 1
}

.filter-item ::placeholder {
  color: #fff;
  opacity: 1
}

.cost-field,
.day-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.day-cost {
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 317px;
  border: 2px solid #fff;
  border-radius: 2px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify
}

.cost-field {
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center
}

.btn-display {
  margin-bottom: 10px;
  margin-left: 84px;
  padding: 7px 34px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px
}

.btn-display:hover {
  color: #000;
  background-color: #fff
}

.quantity {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px
}

.quantity,
.sort-text {
  color: #000
}

.sort-item a,
.sort-text {
  font-size: 12px;
  line-height: 18px
}

.sort-list {
  list-style: none
}

.card-title a {
  font-size: 21px;
  line-height: 26px;
  color: #000
}

.rate {
  color: #666;
  background-color: #f2f2f2
}

.social-list {
  list-style: none
}

.main-header {
  position: relative;
  background-color: #fff
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 140px;
  height: 72px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 13px 72px 17px
}

.navigation-list li {
  display: block;
  width: 241px
}

.navigation-list li:nth-child(3) {
  margin-left: auto
}

.navigation-list li:last-child,
.navigation-list li:nth-child(3) {
  text-align: right
}

.welcome-top {
  padding-top: 77px;
  padding-bottom: 79px
}

.welcome-bottom {
  padding-top: 60px;
  padding-bottom: 52px;
  background-color: #fff
}

.welcome-bottom h1 {
  width: 500px;
  margin: 0 auto
}

.welcome-bottom p {
  margin: 27px 0 0;
  padding: 0 50px
}

.card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.card-description,
.card-title {
  margin: 0;
  padding: 0
}

.features-description,
.features-title {
  padding: 0
}

.appointment-title {
  margin: 0;
  padding: 0
}

.appointment-description {
  padding: 0
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px)
}

.card .card-title {
  width: 160px;
  margin: 0 auto
}

.card-number {
  display: block;
  margin-top: 24px;
  margin-bottom: 21px
}

.features {
  background-color: #fff
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0
}

.features-item {
  width: 400px;
  padding-top: 56px;
  padding-bottom: 83px
}

.features-item::before {
  content: "";
  display: block;
  width: 75px;
  height: 76px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: bottom
}

.home-pic::before {
  background-image: url(../images/svg-folder/home-icon.svg)
}

.food-pic::before {
  background-image: url(../images/svg-folder/food-icon.svg)
}

.souvenir-pic::before {
  background-image: url(../images/svg-folder/present-icon.svg)
}

.features-title {
  margin: 28px 0 24px
}

.features-description {
  width: 300px;
  margin: 0 auto
}

.card-reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal
}

.card-reverse .card-blue {
  padding: 45px 45px 58px
}

.card-grey {
  width: 400px;
  padding-top: 46px;
  padding-bottom: 60px
}

.card-grey .card-description {
  width: 270px;
  margin: 0 auto
}

.appointment {
  position: relative;
  padding-top: 49px;
  text-align: center;
  background-color: #fff
}

.appointment-description {
  margin: 24px 0 47px
}

.btn-appointment {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px
}

.main-footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 36px 0;
  background-color: rgba(255, 255, 255, .9);
  -webkit-box-align: center;
  -ms-flex-align: center
}

.footer-copyright,
.main-footer b {
  width: 400px;
  text-align: center
}

.social-btn,
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.social-list {
  justify-content: center;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  width: 400px
}

.social-btn {
  width: 46px;
  height: 48px;
  margin-right: 6px
}

.social-item:last-child .social-btn {
  margin-right: 0
}

.social-btn svg {
  margin: auto
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center
}

.copyright-btn {
  display: block;
  width: 115px;
  height: 41px
}

.footer-hotels {
  position: relative
}

.filters {
  padding: 27px 72px 24px
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.filter-item {
  margin: 0;
  padding: 0;
  border: 0
}

.filter-item:first-child {
  margin-right: 115px
}

.cost-wrapper {
  margin-left: auto
}

.cost-wrapper .filter-item:first-child {
  margin-right: 0;
  margin-bottom: 24px
}

.sort,
.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.sort {
  align-items: baseline;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  padding: 24px 72px 31px
}

.sort-list {
  margin: 0;
  padding: 0
}

.quantity {
  margin-top: 5px;
  margin-right: 48px
}

.sort-text {
  margin: 0 40px 0 0;
  padding: 0
}

.sort-item {
  margin-right: 32px
}

.hotel-catalog,
.hotel-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.hotel-catalog {
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical
}

.hotel-row {
  padding: 25px 72px 30px;
  border-bottom: 1px solid #e5e5e5
}

.hotel-img {
  margin-top: 5px;
  margin-right: 30px
}

.hotel-card .card-title {
  margin: 0;
  padding: 0
}

.rate {
  margin: 0
}

.hotel-rate {
  margin-left: auto
}

.rate {
  padding: 3px 12px 3px 16px
}

.card-box,
.card-info,
.modal-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.card-box,
.modal-form form {
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical
}

.card-info {
  max-width: 600px
}

.btn-blue,
.btn-brown {
  display: block;
  padding: 3px 0
}

.btn-blue {
  margin-right: 6px;
  width: 110px
}

.btn-brown {
  width: 142px
}

.card-box span {
  margin-top: 7px;
  margin-bottom: 14px
}

.modal-form {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 568px;
  padding: 55px;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.js .modal-form {
  display: none
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify
}

.form-input,
.input-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.input-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 346px
}

.form-input {
  width: 100%;
  height: 38px;
  padding: 6px 35px 6px 13px;
  text-transform: uppercase
}

.count-btn {
  display: block;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  border: 0
}

.form-btn {
  position: absolute;
  top: 20%;
  right: 9px;
  padding: 0;
  background-color: transparent;
  border: 0
}

.count-wrapper,
.form-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.count-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 0 3px;
  text-align: center
}

.form-count {
  justify-content: space-between;
  align-items: center;
  width: 227px;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify
}

.form-count:last-child {
  width: 180px
}

.btn-search {
  margin-top: 54px;
  padding: 16px 0
}

.form-row:last-of-type {
  margin-bottom: 0
}

.count-btn path,
.form-btn path {
  fill: #cacaca
}

.count-btn:hover path,
.form-btn:hover path {
  fill: #000
}

.count-btn:active path,
.form-btn:active path,
.svg-logo:hover path {
  fill: #81b3d2
}

.container {
  position: relative;
  display: block;
  padding-left: 40px;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.container input {
  position: absolute;
  cursor: pointer;
  opacity: 0
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px
}

.checkmark:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px #8fb9ff;
  box-shadow: 0 0 0 3px #8fb9ff
}

.checkbox:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: -4px;
  left: 9px;
  display: block;
  width: 6px;
  height: 16px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.filter-wrapper {
  margin-bottom: 25px
}

.filter-wrapper:last-of-type {
  margin-bottom: 0
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent
}

.arrow-up {
  margin-right: 10px;
  border-bottom: 10px solid #b2b2b2
}

.arrow-up:hover {
  border-bottom: 10px solid #231f20
}

.arrow-up:active {
  border-bottom: 10px solid #81b3d2
}

.arrow-down {
  border-top: 10px solid #81b3d2
}

.sort-arrow {
  margin-left: auto
}

.cost-wrapper legend {
  margin-bottom: 10px
}

.svg-logo:active path {
  fill: #bdbbbc
}

.cost-field {
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding: 5px 5px 4px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify
}

.field-two label {
  width: 46%;
  text-align: right
}

.field-two input {
  width: 51%;
  height: 22px
}

.field-one label {
  width: 52%;
  text-align: right
}

.field-one input {
  width: 46%;
  height: 22px
}

.cost-slider,
.field-one {
  position: relative
}

.cost-slider {
  width: 100%;
  height: 2px;
  margin-top: 18px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, .3)
}

.slider-bar {
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: #fff
}

.slider-circle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
  cursor: pointer
}

.circle-right {
  left: 80%
}

.field-one::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 100%;
  width: 2px;
  height: 70%;
  background: #fff
}

.hotel-rate,
.hotel-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.hotel-stars {
  margin: 4px 0 0
}

.hotel-rate {
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -ms-flex-align: end;
  -ms-flex-pack: justify
}
.js .modal-show {
  display: block;
  -webkit-animation: bounce .5s;
  animation: bounce .5s
}
.e2e2{
  background-color: #ffffff;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-contacts-phone {
  display: block;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  background-color: var(--background-color);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}

.footer-contacts-phone {
  width: 720px;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  padding-bottom: 8px;
  width: 115px;
}

.html-logo {
  fill: #000000;
}

.html-logo:hover {
  fill: #756157;
}

.html-logo:focus {
  fill: #756157;
}

.html-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}
.pagination{
  display: inline;
  background: #ffffff;
}
